<mat-toolbar color="primary">
    <p>Feedback App</p>
</mat-toolbar>
<body>
<div>
    <form>
        <div class="input">
            <div>
                <p>Enter Name:</p>
                <input [(ngModel)]="pname"  placeholder="Add Name" name="pname">
            </div>
            <div>
                <p>Enter the Feedback:</p>
                <input [(ngModel)]="feedback" placeholder="Add Feedback" name="feedback">
            </div>
            <button type="submit" (click)="onSubmit()">Add Feedback</button>
        </div>
    </form>
</div>
</body>